.myspace{
    margin-top:150px;
    width:50%;
    height: 650px;
    padding: 50px;
    box-shadow: 0 0 7px 1px;
}

.sub-btn-text{
    margin-left: 360px;
    margin-top: 30px;
}

.sub-btn{
    margin-left:380px;
    margin-top: 30px;
}