.my-space{
    margin-top:100px;
    margin-left: 300px;
    width:50%;
    height: 750px;
    padding: 50px;
    box-shadow: 0 0 7px 1px;
}



.sub-btn{
    padding-left:220px;
    margin-top: 20px;
}

.sub-btn-text{
    position: absolute;
    right:690px;
    top:850px;
    font-size: 30px;
   
}

