.show-recipes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 40px;
}

.search-bar {
  margin: 0px 0px 60px 0px;
  padding: 0px 600px 0px 600px;
}

.search-icon {
  position: absolute;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 10px;
}

.searchinput {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.search-result,
.recipes {
  width: 350px;
  height: 530px;
  margin-bottom: 70px;
  margin-left: 10px;
  box-shadow: 8px 10px 8px 0px #888888;
  border-radius: 0px 20px 20px 0px;
}

.recipe-img {
  padding: 20px 25px 10px 25px;
}

img.recipe-item {
  width: 300px;
  height: 300px;
}

.recipe-discription {
}

.short-intro {
  display: block;
  overflow: hidden;
  max-height: 30px;
  word-wrap: break-word;
}

.discription-container {
  padding: 0px 25px 20px 25px;
}
